{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig', 'quiz/_form.html.twig'] %}

{% block title %}{{'Editer le Quiz'}} "{{ quiz.title }}"{% endblock %}

{% block body %}
    <h1>{{'Editer le Quiz'}} "{{ quiz.title }}"</h1>

    {% if is_granted('ROLE_TEACHER') %}
        {{ include('quiz/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    {% endif %}

{% endblock %}

{% block javascripts %}

<!-- DEBUT AJOUT JAVASCRIPT PERSO CACHER MONTRER-->
<script language="javascript" type="text/javascript">


$(document).ready(function(){

  $('.toutmontrer').click(function(){
     
        $('.description').show('fast');

})

$('.toutcacher').click(function(){
     
        $('.description').slideUp('fast');

})


// selection questions cochées
$('div.description input').each(function (){

var a = $(this).attr('checked');
console.log(a);


})


// cacher montrer    
    $('div.description').hide();

    $('.titre').each(function (){
   {
      
      $(this).click(function(){
          
        var id = 'div' + $(this).attr('data-article');
        //console.log(id);
$('.description').not($('div#' + id)).slideUp('fast');
     $('div#' + id).slideToggle();
	
    
      });
    
    }        
	})



      // lecture couleur question dans le label et affichage au niveau catégorie
 for(let i = 0; i < 300; i++){ 

          $('#div' + i + ' .couleurQuestion').each(function (){

             var Color = $(this).css("Color");
             console.log(Color);
            
              var contenttitre = $(".title" + i).html();
              $(".title" + i).html(contenttitre + '<span style="color:' + Color + '"> <i class="fas fa-square-full"></i></span>');
          

            })
    }
	
                  }              
                 );  
</script>
<!-- FIN AJOUT JAVASCRIPT PERSO CACHER MONTRER-->

{% endblock %}